<div class="footer-widget footer-widget-2 mt-2">
    <h5 class="text-white position-relative mb-5 widget-title">Quick Links</h5>
    <ul class="footer-nav">
        <li>
            <a href="contact.html">Support Center</a>
        </li>
        <li>
            <a href="about.html">About Us</a>
        </li>
        <li>
            <a href="domain.html">Search Domain</a>
        </li>
        <li>
            <a href="login.html">My Account</a>
        </li>
        <li>
            <a href="login.html">Customer Profiles</a>
        </li>
        <li>
            <a href="contact.html">Contact Us</a>
        </li>
    </ul>
</div>