<div class="footer-widget footer-widget-3 mt-2">
    <h5 class="text-white position-relative mb-5 widget-title">Services</h5>
    <ul class="footer-nav">
        <li>
            <a href="shared-hosting.html">Shared Hosting</a>
        </li>
        <li>
            <a href="wp-hosting.html">WordPress Hosting</a>
        </li>
        <li>
            <a href="vps-hosting.html">VPS Hosting</a>
        </li>
        <li>
            <a href="index-3.html">Game Hosting</a>
        </li>
        <li>
            <a href="vps-hosting.html">Dedicated Hosting</a>
        </li>
        <li>
            <a href="domain.html">Domain Name</a>
        </li>
    </ul>
</div>