<div class="footer-widget footer-sb-widget mt-2">
    <h5 class="text-white position-relative mb-5 widget-title">Get In Touch</h5>
    <form action="#" class="footer-sb-form position-relative">
        <input type="email" placeholder="Type Your Mail">
        <button type="submit" class="template-btn primary-btn btn-small">Subscribe</button>
    </form>
    <div class="ft-payment-method mt-40">
        <h5 class="text-white position-relative ft-subtitle d-inline-block">We Accepted</h5>
        <ul class="payment-list d-flex align-items-center mt-3">
            <li class="d-inline-flex align-items-center justify-content-center">
                <img src="assets/img/visa.png" alt="visa" class="img-fluid">
            </li>
            <li class="d-inline-flex align-items-center justify-content-center">
                <img src="assets/img/mastercard.png" alt="mastercard" class="img-fluid">
            </li>
            <li class="d-inline-flex align-items-center justify-content-center">
                <img src="assets/img/payoneer.png" alt="payoneer" class="img-fluid">
            </li>
            <li class="d-inline-flex align-items-center justify-content-center">
                <img src="assets/img/paypal.png" alt="paypal" class="img-fluid">
            </li>
        </ul>
    </div>
</div>