<div class="footer-widget footer-widget-1">
    <a href="index.html" class="footer-logo">
        <img src="http://account.thalpha.site/img/logo.png" class="logo"
             style="height: 54px; filter: invert(1)"
             alt="logo">
    </a>
    <p class="text-white mt-30">
        NGHIASoft - Đối tác đáng tin cậy trong việc phát triển ứng dụng di động và web. Chúng tôi cam kết mang đến giải pháp công nghệ chất lượng và dịch vụ khách hàng xuất sắc.
    </p>
    <div class="footer-social mt-5">
        <h5 class="ft-subtitle text-white position-relative d-inline-block">Follow us on</h5>
        <ul class="social-nav mt-3">
            <li>
                <a href="#"
                   class="rounded-circle overflow-hidden position-relative d-flex align-items-center justify-content-center text-white">
                    <i
                        class="fab fa-facebook-f">
                    </i>
                </a>
            </li>
            <li>
                <a href="#"
                   class="rounded-circle overflow-hidden position-relative d-flex align-items-center justify-content-center text-white">
                    <i
                        class="fab fa-twitter">
                    </i>
                </a>
            </li>
            <li>
                <a href="#"
                   class="rounded-circle overflow-hidden position-relative d-flex align-items-center justify-content-center text-white">
                    <i
                        class="fab fa-instagram">
                    </i>
                </a>
            </li>
            <li>
                <a href="#"
                   class="rounded-circle overflow-hidden position-relative d-flex align-items-center justify-content-center text-white">
                    <i
                        class="fab fa-linkedin">
                    </i>
                </a>
            </li>
        </ul>
    </div>
</div>