<span class="h5-footer-circle-shape position-absolute zindex--1"></span>
<div class="row justify-content-between align-items-center">
    <div class="col-lg-7">
        <div class="h5-footer-title">
            <h2 class="mb-3 text-white">Thực hiện hoá mục tiêu của bạn ngay</h2>
            <p class="mb-0 text-white">Không cần quá lo lắng về giải pháp. Hãy nói lên ý tưởng và chúng tôi sẽ hỗ trợ phần còn lại cho bạn.</p>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="text-lg-end mt-4 mt-lg-0">
            <a href="login.html" class="template-btn rs-primary-btn">Bắt đầu ngay</a>
        </div>
    </div>
</div>
<hr class="spacer mt-60 mb-60">