<div class="footer-copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="copyright-txt text-white">
                    <p class="mb-0">Copyright 2022 NGHIASoft. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="copyright-links mt-2 mt-md-0 text-start text-md-end">
                    <a href="#">Terms & Conditions</a>
                    <a href="#" class="ml-20">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</div>