<footer class="h5-footer position-relative z-index-1 overflow-hidden">
    <img src="assets/img/shapes/home5-curve-reverse.png" alt="curve shape"
         class="w-100 position-absolute start-0 top-0 zindex-2 logo-black">
    <img src="assets/img/shapes/home5-curve-reverse-black.png" alt="curve shape"
         class="w-100 position-absolute start-0 top-0 zindex-2 logo-white">
    <div class="container position-relative zindex-1">
        <partial name="~/Areas/Landing/Views/Shared/Components/LandingFooter/_LandingFooter_PreFooter.cshtml"/>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <partial name="~/Areas/Landing/Views/Shared/Components/LandingFooter/_LandingFooterBlock_1.cshtml"/>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <partial name="~/Areas/Landing/Views/Shared/Components/LandingFooter/_LandingFooterBlock_2.cshtml"/>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <partial name="~/Areas/Landing/Views/Shared/Components/LandingFooter/_LandingFooterBlock_3.cshtml"/>
            </div>
            <div class="col-lg-4 col-md-8">
                <partial name="~/Areas/Landing/Views/Shared/Components/LandingFooter/_LandingFooterBlock_4.cshtml"/>
            </div>
        </div>
    </div>
    <partial name="~/Areas/Landing/Views/Shared/Components/LandingFooter/_LandingFooterBlock_PosAfter.cshtml"/>
</footer>