@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<form method="post">
    <div class="inpput-group-item">
        <label asp-for="Input.Email"></label>
        <div class="input-field">
            <span>
                <i class="fa-solid fa-envelope"></i>
            </span>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true"/>
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <input type="submit" class="submit-btn" value="Reset Password"/>
</form>
<div class="page-redirect text-center mt-30">
    <p>Remembered your account or password? <a asp-page="./Login">Login</a></p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}