@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" class="contact-us-form"/>
<form id="change-password-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="inpput-group-item">
        <label asp-for="Input.OldPassword"></label>
        <div class="input-field">
            <span>
                <i class="fa-solid fa-lock"></i>
            </span>
            <input asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true">
        </div>
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
    
    <div class="inpput-group-item">
        <label asp-for="Input.NewPassword"></label>
        <div class="input-field">
            <span>
                <i class="fa-solid fa-lock"></i>
            </span>
            <input asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true">
        </div>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    
    <div class="inpput-group-item">
        <label asp-for="Input.ConfirmPassword"></label>
        <div class="input-field">
            <span>
                <i class="fa-solid fa-lock"></i>
            </span>
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true">
        </div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <input type="submit" class="w-100 submit-btn mt-3" value="Update password">
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}