@{
    ViewBag.Title = "Trang chủ";
    // Layout = "_Layout";
}

<!--hero section start-->
<section class="hero-5 position-relative overflow-hidden zindex-1">
    <img src="assets/img/shapes/home5-hero-curve.png" alt="curve shape"
         class="position-absolute start-0 bottom-0 zindex-1 w-100 logo-black">
    <img src="assets/img/shapes/home5-hero-curve-black.png" alt="curve shape"
         class="position-absolute start-0 bottom-0 zindex-1 w-100 logo-white">
    <img src="assets/img/shapes/home5-hero-left.png" alt="shape"
         class="position-absolute start-0 hero-shape zindex--1">
    <img src="assets/img/shapes/home5-hero-right.png" alt="shape"
         class="position-absolute end-0 hero-shape zindex--1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-8 col-xl-10">
                <div class="hero-5-content position-relative zindex-2">
                    <!-- <div class="hero-5-rating d-flex align-items-center justify-content-center">
                        <div class="cloud-rating d-flex align-items-center mb-3">
                            <img src="assets/img/dedicated-server/trust-pilot.png" alt="trustpilo" class="img-fluid flex-shrink-0">
                            <p class="mb-0 ms-3 text-white">Webhosting Hostim is rated "Excellent" <br class="d-none d-lg-block">with 4.9/5 on <a href="#" class="fw-bold">Trustpilot</a></p>
                        </div>
                        <div class="cloud-rating d-flex align-items-center mb-3">
                            <img src="assets/img/dedicated-server/google.png" alt="trustpilo" class="img-fluid flex-shrink-0">
                            <p class="mb-0 ms-3 text-white">Webhosting Hostim is rated "Excellent" <br class="d-none d-lg-block">with 4.9/5 on <a href="#" class="fw-bold">Google</a></p>
                        </div>
                    </div> -->
                    <div class="hero5-content-bottom text-center mt-4">
                        <h1 class="display-3 fw-bold mb-20 text-white">Powerful Online Solutions</h1>
                        <p class="mb-5 lead text-white">
                            Chúng tôi cung cấp giải pháp phần mềm cho website, ứng
                            dụng di động và nhiều dịch vụ khác để giúp bạn mở rộng hoạt động kinh doanh trực
                            tuyến.
                        </p>
                        <div class="hero-btns d-flex align-items-center justify-content-center">
                            <a href="pricing.html" class="template-btn rs-primary-btn me-3 me-sm-4">Bắt đầu ngay</a>
                            <a href="signup.html" class="template-btn outline-btn">Dùng thử dịch vụ</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--hero section end-->

<!--domain box -->
<div class="h5-domain pb-120 ds-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="h5-domain-box bg-white deep-shadow rounded-3 overflow-hidden p-5">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="box-left">
                                <h3 class="mb-30">Bạn cần thêm thông tin?</h3>
                                <form class="h5-domain-search-form position-relative">
                                    <input type="text" placeholder="Hãy nhập điều bạn cần tìm vào đây...">
                                    <button type="submit" class="template-btn primary-btn border-0">
                                        <span
                                            class="me-2">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </span>Tìm
                                        kiếm
                                    </button>
                                </form>
                                <div
                                    class="h5-domain-info domain-info mt-4 d-flex align-items-center justify-content-center justify-content-lg-start">
                                    <div class="info-box border-0">
                                        <i class="fab fa-android success-text" aria-hidden="true"
                                           style="font-size: 24px;">
                                        </i>
                                        <h6 class="success-text mb-0">
                                            Android
                                        </h6>
                                        <!-- <span class="success-text">Android</span> -->
                                    </div>
                                    <div class="info-box border-0">
                                        <i class="fa fa-globe primary-text" aria-hidden="true"
                                           style="font-size: 24px;">
                                        </i>
                                        <h6 class="primary-text mb-0">
                                            Website
                                        </h6>
                                        <!-- <span class="success-text">Android</span> -->
                                    </div>
                                    <div class="info-box border-0">
                                        <i class="fa fa-laptop-code danger-text" aria-hidden="true"
                                           style="font-size: 24px;">
                                        </i>
                                        <h6 class="danger-text mb-0">
                                            Software
                                        </h6>
                                        <!-- <span class="success-text">Android</span> -->
                                    </div>
                                    <div class="info-box border-0">
                                        <i class="fa fa-database info-text" aria-hidden="true"
                                           style="font-size: 24px;">
                                        </i>
                                        <h6 class="info-text mb-0">
                                            Databases
                                        </h6>
                                        <!-- <span class="success-text">Android</span> -->
                                    </div>

                                    <div class="info-box border-0">
                                        <i class="fa fa-cogs blue-text" aria-hidden="true"
                                           style="font-size: 24px;">
                                        </i>
                                        <h6 class="blue-text mb-0">
                                            Others
                                        </h6>
                                        <!-- <span class="success-text">Android</span> -->
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-5">
                            <div class="box-right text-lg-end">
                                <img src="assets/img/home5/badge.png" alt="badge" class="img-fluid">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--domain box end-->

<!--service section started-->
<section class="h5-services ds-bg pb-120">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-between align-items-center">
            <div class="col-xl-7 col-md-9">
                <div class="title-area text-center text-lg-start">
                    <h2>Chúng tôi cung cấp các dịch vụ phù hợp nhất với bạn</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center text-lg-end mt-4 mt-lg-0">
                    <a href="service.html" class="template-btn rs-primary-btn">Bắt đầu ngay</a>
                </div>
            </div>
        </div>
        <div class="h5-services-bottom mt-5">
            <div class="row g-4 justify-content-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/2504/2504881.png " alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Ứng dụng cho Android</h4>
                        </a>
                        <p class="mb-4">Chuyên gia trong việc phát triển ứng dụng di động Android đỉnh cao, mang đến sự sáng tạo và trải nghiệm tối ưu cho người dùng Android của bạn.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="https://cdn-icons-png.flaticon.com/128/2504/2504884.png " alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Ứng dụng cho iOS</h4>
                        </a>
                        <p class="mb-4">Xây dựng ứng dụng di động iOS chất lượng cao, để kết nối với cộng đồng người dùng Apple và tạo ra trải nghiệm không giới hạn.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/7753/7753945.png" alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Ứng dụng web</h4>
                        </a>
                        <p class="mb-4">Tạo ra trải nghiệm web độc đáo và hiệu quả, biến ý tưởng thành thực tế trên trình duyệt của bạn.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="   https://cdn-icons-png.flaticon.com/512/11513/11513736.png " alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Thiết kế website</h4>
                        </a>
                        <p class="mb-4">Thiết kế website độc đáo và thu hút sáng tạo để tạo ấn tượng mạnh mẽ với khách hàng.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="   https://cdn-icons-png.flaticon.com/512/4205/4205106.png " alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Thi công phần mềm</h4>
                        </a>
                        <p class="mb-4">Xây dựng phần mềm mạnh mẽ và linh hoạt để giúp bạn vượt qua mọi thách thức kỹ thuật.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/6584/6584876.png" alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Quản trị, thiết kế database</h4>
                        </a>
                        <p class="mb-4">Quản lý và thiết kế cơ sở dữ liệu một cách mượt mà và hiệu quả, đảm bảo dữ liệu của bạn luôn an toàn và sẵn sàng.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/11950/11950211.png" alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Nâng cao hiệu suất website</h4>
                        </a>
                        <p class="mb-4">Tối ưu hóa và tăng tốc độ website của bạn, giúp bạn tiếp cận nhanh chóng với khách hàng và đối tác.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/993/993723.png" alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Cung cấp giải pháp hệ thống phần mềm</h4>
                        </a>
                        <p class="mb-4">Giải quyết các thách thức hệ thống phức tạp và mang lại hiệu quả cho mọi khía cạnh của doanh nghiệp.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="h5-service-box text-center bg-white rounded-2">
                        <span class="icon-wrapper d-flex justify-content-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/7245/7245102.png" alt="icon" style="width: 60px; height: 60px;">
                        </span>
                        <a href="#">
                            <h4 class="mb-3 mt-4">Dịch vụ liên quan</h4>
                        </a>
                        <p class="mb-4">Chúng tôi cung cấp các dịch vụ tùy chỉnh và đáp ứng các yêu cầu đặc biệt của bạn.</p>
                        <a href="#" class="fw-bold explore">
                            Giới thiệu về dịch vụ này
                            <span
                                class="ms-2">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--service section end-->

<!--migrate section start -->
<section class="h5-migrate-section ds-bg pb-120">
    <div class="container">
        <div class="h5-migrate-wrapper bg-white rounded-2">
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="left-img">
                        <img src="assets/img/home5/lock.png" alt="not found" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="right-content">
                        <h3 class="mb-3">Chuyển đổi mô hình <br class="d-none d-sm-block">Nhanh chóng và hiệu quả</h3>
                        <p class="mb-30">Chuyển đổi sang web không cần lo lắng. Chúng tôi sẵn sàng với đội ngũ chuyên gia để giúp bạn tiết kiệm thời gian và tiền bạc thông qua dịch vụ chuyển đổi chuyên nghiệp của NghiaSoft.</p>
                        <a href="contact.html" class="template-btn primary-btn btn-small">Yêu cầu ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--migrate section end-->

<!--about section start-->
<section class="h5-about-section ds-bg pb-120">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="h5-about-left mt-5 mt-lg-0">
                    <h2 class="mb-3">Bạn chưa có hệ thổng để quản lý dữ liệu của mình?</h2>
                    <p class="mb-0">Đừng để dữ liệu của bạn đối mặt với các nguy cơ <span class="fw-bold text-danger">mất mát</span> và <span class="fw-bold text-danger">khó quản lý</span>. <span class="text-decoration-underline text-dark">Đã có chúng tôi hỗ trợ bạn!</span></p>
                    <ul class="h5-about-items mt-5">
                        <li class="d-flex align-items-start">
                            <span
                                class="icon-wrapper bg-white d-inline-flex align-items-center justify-content-center">
                                <img
                                    src="assets/img/home5/about-icon-1.png" alt="not found"
                                    class="img-fluid">
                            </span>
                            <div class="h5-about-item-content ms-3">
                                <h5>Xây dựng hệ thống trực tuyến</h5>
                                <p class="mb-0">Tư vấn và xây dựng hệ thống trực tuyến đặc thù cho riêng bạn.</p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mt-40">
                            <span
                                class="icon-wrapper bg-white d-inline-flex align-items-center justify-content-center">
                                <img
                                    src="assets/img/home5/about-icon-2.png" alt="not found"
                                    class="img-fluid">
                            </span>
                            <div class="h5-about-item-content ms-3">
                                <h5>Hỗ trợ di chuyển dữ liệu</h5>
                                <p class="mb-0">Việc di chuyển dữ liệu sẽ được chúng tôi hỗ trợ hoàn toàn miễn phí khi hệ thống hoàn tất.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <div class="h5-about-right">
                    <img src="assets/img/home5/building.png" alt="not found" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!--about section end-->

<!--features section started-->
<section class="h5-features pb-120 ds-bg">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-lg-5">
    <div class="h5-feature-left">
        <img src="assets/img/home5/ft-1.png" alt="not found" class="img-fluid">
    </div>
</div>
<div class="col-lg-6">
    <div class="h5-feature-rights mt-5 mt-lg-0">
        <h2 class="mb-40">Chúng tôi hiểu rằng bạn cần</h2>
        <div class="h5-feature-tab">
            <ul class="nav nav-tabs h5-tab-controls">
                <li>
                    <a href="#backup" data-bs-toggle="tab" class="active">Bảo mật</a>
                </li>
                <li>
                    <a href="#cloud" data-bs-toggle="tab">Tính sẵn sàng</a>
                </li>
                <li>
                    <a href="#protocols" data-bs-toggle="tab">Hiệu suất</a>
                </li>
                <li>
                    <a href="#cpanel" data-bs-toggle="tab">Thân thiện</a>
                </li>
            </ul>
            <div class="tab-content mt-30">
                <div class="tab-pane fade show active" id="backup">
                    <p class="mb-4">Đảm bảo rằng dữ liệu của khách hàng được bảo vệ khỏi các mối đe dọa bảo mật, bao gồm việc sử dụng các biện pháp bảo mật, mã hóa, và kiểm tra bảo mật định kỳ để tránh rò rỉ thông tin cá nhân.</p>
                    <ul class="h5-feature-list mb-5">
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Bảo vệ Dữ liệu Quý Báu: Cam kết bảo vệ thông tin quý báu của bạn với các biện pháp bảo mật hàng đầu.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">An Toàn Tuyệt Đối: Đảm bảo rằng dữ liệu của bạn luôn an toàn và không bị tiết lộ cho bất kỳ ai khác.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Giám Sát Liên Tục: Theo dõi và giám sát bảo mật dữ liệu 24/7 để phát hiện và ngăn chặn các mối đe dọa.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Chất Lượng và Đáng Tin Cậy: Đảm bảo rằng bạn có dịch vụ bảo mật chất lượng và đáng tin cậy.</p>
                        </li>
                    </ul>
                    <!-- <a href="features.html" class="template-btn primary-btn btn-small">Explore
                        More</a> -->
                </div>
                <div class="tab-pane fade" id="cloud">
                    <p class="mb-4">Hệ thống cần phải luôn hoạt động và có sẵn để khách hàng truy cập mọi lúc, đặc biệt là trong trường hợp cần thiết như giao dịch trực tuyến hoặc tìm kiếm thông tin quan trọng.</p>
                    <ul class="h5-feature-list mb-5">
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Dịch vụ 24/7: Sẵn sàng hỗ trợ và đáp ứng mọi yêu cầu của bạn bất kể thời gian.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Khả Năng Thích Ứng: Hệ thống của chúng tôi luôn sẵn sàng thích ứng với nhu cầu thay đổi của bạn.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Không Gián Đoạn: Cam kết đảm bảo rằng bạn không phải lo lắng về sự gián đoạn trong hoạt động trực tuyến của bạn.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Hỗ Trợ Tận Tâm: Chúng tôi luôn ở đây để hỗ trợ bạn một cách tận tâm và nhanh chóng.</p>
                        </li>
                    </ul>
                    <!-- <a href="features.html" class="template-btn primary-btn btn-small">Explore
                        More</a> -->
                </div>
                <div class="tab-pane fade" id="protocols">
                    <p class="mb-4">Website hoặc hệ thống cần phải nhanh chóng và đáp ứng nhanh chóng đối với yêu cầu của người dùng, giúp cải thiện trải nghiệm của họ và đảm bảo rằng họ không phải chờ đợi lâu.</p>
                    <ul class="h5-feature-list mb-5">
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Tốc Độ Vượt Trội: Đảm bảo rằng trang web hoạt động với tốc độ cao, giúp tạo ra trải nghiệm tốt cho người dùng.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Tối Ưu Hóa: Luôn tối ưu hóa hiệu suất hệ thống để đảm bảo rằng bạn luôn đạt được sự ổn định và nhanh chóng.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Dự Đoán Tài Nguyên: Dự đoán và quản lý tài nguyên một cách thông minh để đáp ứng nhu cầu của bạn.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Sáng Tạo và Mạnh Mẽ: Sử dụng công nghệ sáng tạo và máy chủ mạnh mẽ để cung cấp hiệu suất vượt trội.</p>
                        </li>
                    </ul>
                    <!-- <a href="features.html" class="template-btn primary-btn btn-small">Explore
                        More</a> -->
                </div>
                <div class="tab-pane fade" id="cpanel">
                    <p class="mb-4">Giao diện người dùng cần phải thiết kế đẹp và dễ sử dụng để khách hàng có thể dễ dàng tương tác và tìm kiếm thông tin một cách thuận tiện.</p>
                    <ul class="h5-feature-list mb-5">
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Thiết Kế Sáng Tạo: Cam kết thiết kế giao diện người dùng đẹp và sáng tạo.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Dễ Dàng Sử Dụng: Đảm bảo rằng trang web dễ sử dụng và thuận tiện cho khách hàng.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Tương Tác Nâng Cao: Tạo ra một trải nghiệm tương tác nâng cao để thu hút và giữ chân khách hàng.</p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span
                                class="icon-wrapper d-inline-flex align-items-center justify-content-center flex-shrink-0 bg-success-subtle">
                                <i
                                    class="fa-solid fa-check text-success">
                                </i>
                            </span>
                            <p class="mb-0 ms-3">Hỗ Trợ Tận Tâm: Luôn sẵn sàng hỗ trợ và tạo sự hài lòng cho khách hàng.</p>
                        </li>
                    </ul>
                    <!-- <a href="features.html" class="template-btn primary-btn btn-small">Explore
                        More</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
<!--features section end-->

<!--application area started-->
<section class="h5-application pt-120 pb-40 position-relative zindex-1 overflow-hidden">
    <img src="assets/img/shapes/home5-curve-reverse.png" alt="not found"
         class="position-absolute start-0 top-0 w-100 zindex-1 logo-black">
    <img src="assets/img/shapes/home5-curve-reverse-black.png" alt="not found"
         class="position-absolute start-0 top-0 w-100 zindex-1 logo-white">
    <img src="assets/img/shapes/home5-curve-bottom.png" alt="not found"
         class="position-absolute start-0 bottom-0 w-100 zindex-1 logo-black">
    <img src="assets/img/shapes/home5-curve-bottom-black.png" alt="not found"
         class="position-absolute start-0 bottom-0 w-100 zindex-1 logo-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="h5-app-top-left text-center text-lg-start">
                    <h2 class="text-white mb-3">Xuất bản nội dung nhanh chóng</h2>
                    <p class="mb-5 text-white">Nhiều giao diện được thiết kế sẵn miến phí và có phí đang chờ bạn cập nhật nội dung để online ngay lập tức. Hãy quan tâm duy nhất nội dung thay vì đau đầu vì thiết kế, điều khó đã có chúng tôi!</p>
                    <a href="#" class="template-btn gh-primary-btn">Bắt đầu ngay</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="h5-app-top-right position-relative mt-5 mt-lg-0">
                    <img src="assets/img/home4/rocket.png" alt="not found" class="img-fluid">
                    <span class="h5-circle-shape"></span>
                </div>
            </div>
        </div>
        <div class="h5-apps-wrapper position-relative zindex-2">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h2 class="mb-3 text-white">Sẽ có nhiều danh mục cho bạn</h2>
                        <p class="mb-0 text-white">Hãy lựa chọn và đóng góp ý tưởng giao diện mới nếu chưa có.</p>
                    </div>
                </div>
            </div>
            <div class="h4-apps-slider swiper pb-5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="h4-apps-box bg-white deep-shadow rounded-2 text-center position-relative zindex-2">
                            <span class="icon-bg orange-light rounded-circle p-3 d-inline-flex align-items-center justify-content-center">
                                <i class="fa-brands fa-joomla"></i>
                            </span>
                            <h6 class="mb-0 mt-20">Joomla Hosting</h6>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="h4-apps-box bg-white deep-shadow rounded-2 text-center position-relative zindex-2">
                            <span class="icon-bg light-blue rounded-circle p-3 d-inline-flex align-items-center justify-content-center">
                                <i class="fa-brands fa-drupal"></i>
                            </span>
                            <h6 class="mb-0 mt-20">Drupal Hosting</h6>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="h4-apps-box bg-white deep-shadow rounded-2 text-center position-relative zindex-2">
                            <span class="icon-bg orange-light rounded-circle p-3 d-inline-flex align-items-center justify-content-center">
                                <i class="fa-brands fa-magento"></i>
                            </span>
                            <h6 class="mb-0 mt-20">Magento Hosting</h6>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="h4-apps-box bg-white deep-shadow rounded-2 text-center position-relative zindex-2">
                            <span class="icon-bg light-blue rounded-circle p-3 d-inline-flex align-items-center justify-content-center">
                                <i class="fa-brands fa-wordpress"></i>
                            </span>
                            <h6 class="mb-0 mt-20">WordPress Hosting</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--application area end-->

<!--blog section start-->
<section class="h5-blog ds-bg pt-80 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h2 class="mb-3">Những điều chúng tôi chia sẻ</h2>
                    <p class="mb-0">Tổng hợp các kiến thức và nội dung về lĩnh vực và phạm trù mà chúng tôi đang cung cấp và hướng đến để cải thiện chất lượng và giúp mô hình của bạn đi đến thành công.</p>
                </div>
            </div>
        </div>
        <div class="h5-blog-bottom mt-5">
            <div class="row g-4 justify-content-center">
                <div class="col-xl-4 col-lg-6">
                    <article class="h5-blog-card bg-white deep-shadow rounded-top overflow-hidden">
                        <div class="feature-img overflow-hidden">
                            <a href="blog-details.html">
                                <img src="assets/img/home5/blog-1.jpg" alt="not found"
                                     class="img-fluid rounded-top">
                            </a>
                        </div>
                        <div class="h5-blog-article-content">
                            <div class="h5-blog-author d-flex align-items-center mb-4">
                                <img src="assets/img/home5/author-1.png" alt="author"
                                     class="flex-shrink-0 rounded-circle">
                                <div class="h5-blog-author-content ms-3">
                                    <h6 class="mb-1">Joseph Huffaker</h6>
                                    <p class="mb-0">June 25, 2022</p>
                                </div>
                            </div>
                            <a href="blog-details.html">
                                <h4 class="mb-3">Website visitors are changing Are you meeting their needs?</h4>
                            </a>
                            <p class="mb-0">
                                Productive adaptive portals through orthogonal Collaboratively after
                                go forward results.
                            </p>
                            <hr class="mt-4 mb-4">
                            <div class="h5-blog-card-bottom d-flex align-items-center justify-content-between">
                                <a href="#" class="share-btn">
                                    <span class="me-2">
                                        <i
                                            class="fa-solid fa-tags">
                                        </i>
                                    </span>Shared Hosting
                                </a>
                                <a href="#" class="explore-btn">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <article class="h5-blog-card bg-white deep-shadow rounded-top overflow-hidden">
                        <div class="feature-img overflow-hidden">
                            <a href="blog-details.html">
                                <img src="assets/img/home5/blog-2.jpg" alt="not found"
                                     class="img-fluid rounded-top">
                            </a>
                        </div>
                        <div class="h5-blog-article-content">
                            <div class="h5-blog-author d-flex align-items-center mb-4">
                                <img src="assets/img/home5/author-1.png" alt="author"
                                     class="flex-shrink-0 rounded-circle">
                                <div class="h5-blog-author-content ms-3">
                                    <h6 class="mb-1">Joseph Huffaker</h6>
                                    <p class="mb-0">June 25, 2022</p>
                                </div>
                            </div>
                            <a href="blog-details.html">
                                <h4 class="mb-3">Hostim Provides Comprehensive WordPress Migration site</h4>
                            </a>
                            <p class="mb-0">Hostim Provides Comprehensive WordPress Migration site</p>
                            <hr class="mt-4 mb-4">
                            <div class="h5-blog-card-bottom d-flex align-items-center justify-content-between">
                                <a href="#" class="share-btn">
                                    <span class="me-2">
                                        <i
                                            class="fa-solid fa-tags">
                                        </i>
                                    </span>Shared Hosting
                                </a>
                                <a href="#" class="explore-btn">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <article class="h5-blog-card bg-white deep-shadow rounded-top overflow-hidden">
                        <div class="feature-img overflow-hidden">
                            <a href="blog-details.html">
                                <img src="assets/img/home5/blog-3.jpg" alt="not found"
                                     class="img-fluid rounded-top">
                            </a>
                        </div>
                        <div class="h5-blog-article-content">
                            <div class="h5-blog-author d-flex align-items-center mb-4">
                                <img src="assets/img/home5/author-1.png" alt="author"
                                     class="flex-shrink-0 rounded-circle">
                                <div class="h5-blog-author-content ms-3">
                                    <h6 class="mb-1">Joseph Huffaker</h6>
                                    <p class="mb-0">June 25, 2022</p>
                                </div>
                            </div>
                            <a href="blog-details.html">
                                <h4 class="mb-3">WordPress 6.0 Release Candidate Why You Should Test It</h4>
                            </a>
                            <p class="mb-0">
                                Productive adaptive portals through orthogonal Collaboratively after
                                go forward results.
                            </p>
                            <hr class="mt-4 mb-4">
                            <div class="h5-blog-card-bottom d-flex align-items-center justify-content-between">
                                <a href="#" class="share-btn">
                                    <span class="me-2">
                                        <i
                                            class="fa-solid fa-tags">
                                        </i>
                                    </span>Shared Hosting
                                </a>
                                <a href="#" class="explore-btn">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!--blog section end-->